@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

#home {
    background-color: aquamarine;
}

#bio {
    background-color: cadetblue;
}

#portfolio {
    background-color: blue; 
}

#contact {
    background-color: darkblue; 
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}